{% extends 'layout.html.twig' %}

{% block title %}Index - Liste des films les plus populaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <ul class="list">
                {% for popularMovie in popularMovies %}
                    <li class="media mr-5 mb-4">
                        <img class="img-fluid mr-3"
                             src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ popularMovie.poster_path }}"
                             alt="Generic placeholder image">
                        <div class="media-body">
                            <h3 class="mt-0 mb-3">{{ popularMovie.title }}</h3>
                            <p>Nom d'origine : {{ popularMovie.original_title }}</p>
                            <p>Date de sortie : {{ popularMovie.release_date }}</p>
                            <p>{{ popularMovie.overview }}</p>
                            <p>
                                <a href="{{ path('movie_show', {'movieId': popularMovie.id }) }}" class="btn btn-info"><i class="fas fa-film"></i> Voir le film</a>
                                <a href="#" class="btn btn-info"><i class="fas fa-folder-plus"></i> Ajouter à la
                                    collection</a>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
