<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <a class="navbar-brand" href="{{ path('home') }}">The Movie Collection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Collection
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{{ path('movie_collection') }}" class="nav-link"><i class="fas fa-film"></i> Ma collection de films</a>
                    <a href="{{ path('tv_show_collection') }}" class="nav-link"><i class="fas fa-film"></i> Ma collection de séries TV</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('movie') }}">Films Populaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('tv_show') }}">Séries TV Populaires</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-5">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.lastName }} {{ app.user.firstName }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{{ path('app_logout') }}" class="nav-link"><i
                                class="fas fa-sign-out-alt"></i> Déconnexion</a>
                </div>
            </li>
                {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="{{ path('app_login') }}" class="nav-link"><i
                                class="fas fa-sign-out-alt"></i> Connexion</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>